<div class="header-logo">
    <img class="logo" src="/assets/school-logo.jpg"/>
    <div class="school-name">
        <span>BLOOMING</span>
        <span>DALES</span>
    </div>
    
    <div class="school-img-container">
        <img class="school-img" src="/assets/school.jpg"/>
    </div>
</div>
<div class="navbar">
    <div class="nav-header">
        <div class="dropdown">
            <div>Home</div>
        </div>
        <div class="dropdown">
            <div >About BLOMMING DALES</div>
            <div class="dropdown-content">
                <a href="#">Directories</a>
                <a href="#">Vision</a>
                <a href="#">Management</a>
                <a href="#">Infrastructure</a>
            </div>
        </div>
        <div class="dropdown">
            <div >Administration</div>
            <div class="dropdown-content">
                <a href="#">Seniority List</a>
                <a href="#">Promotion</a>
                <a href="#">Recruitment Rules</a>
                <a href="#">Personal Information System</a>
            </div>
        </div>
        <div class="dropdown">
            <div>Circulars</div>
        </div>
        
        <div class="dropdown">
            <div >Sports</div>
            <div class="dropdown-content">
                <a href="#">Sports Events</a>
                <a href="#">Sports Gallery</a>
            </div>
        </div>
        <div class="dropdown">
            <div>Works</div>
        </div>
        <div class="dropdown">
            <div>More</div>
        </div>
        <div class="dropdown">
            <div>Contact Us</div>
        </div>
    </div>
</div>
