<div class="header-logo">
    <img class="logo" src="/assets/school-logo.jpg"/>
    <div class="school-name">
        <span>BLOOMING</span>
        <span>DALES</span>
    </div>
    
    <div class="school-img-container">
        <img class="school-img" src="/assets/school.jpg"/>
    </div>
</div>
<div class="nav-header">
    <div>Home</div>
    <div>About BLOMMING DALES</div>
    <div>Administration</div>
    <div>Circulars</div>
    <div>Sports</div>
    <div>Works</div>
    <div>More</div>
    <div>Contact Us</div>
</div>
