<div class="home-container">
    <div class="ma-container">
        <div class="mission">
            <div class="lbl-heading"><span>Our Mission</span></div>
            <div class="mission-content"><span>We believes in imparting knowledge/values and nurturing the talent, enthusiasm and creativity of its students for seeking excellence through high-quality educational endeavours.</span></div>
        </div>
        <div class="announcement">
            <div class="lbl-heading"><span >Announcement</span></div>
            <div class="announcement-content">
                <span>Benefits of reading, literature review, having ones own library.</span>
                <span>Number of words per minute for reading should constantly increase and should reach 250+.</span>
                <span>Flashing reading quotations on display boards in class rooms.</span>
                <span>Five finger rule for selecting a book.</span>
                <span>Teachers as role models.</span>
            </div>
        </div>
    </div>
</div>
